<h1>Upload successful!</h1>
<div>
	<p>Thank you <%= full_name %></p>
	<p>Your image is shown below:</p>
</div>
<div style="border:1px solid gray;width:300px;" id="preview">
  <img src="<%= avatar_url%>" style="width:300px;" />
</div>
<div>
  <p>The image link is at <a href="<%= avatar_url %>" target="_blank"><%= avatar_url %></a></p>
</div>